[Unit]
Description=Prepare mount points
Before=remote-fs-pre.target
Wants=remote-fs-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash /var/opt/snapdSB/snapdSB.sh

[Install]
WantedBy=remote-fs.target
